<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <title>CalBlog</title>
</head>

<body>
    <a href="/blog/?" class="main-title">CalBlog</a>
    <button id="logout_button" class="logout">Logout</button>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <script type="text/javascript">
    document.getElementById("logout_button").onclick = function () {
        location.href = "/logout";
    };
    </script>

</body>
</html>